@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.container {
    overflow: hidden;
}

.validation-message {
    color: red;
}

.word-break {
    word-break: break-all;
}

.mud-chart {
    width: 100% !important;
}

.full-width-tabs-toolbar .mud-tabs-toolbar-wrapper{
    width: 100% !important;
}

.full-width-tabs-toolbar .mud-tabs-toolbar-wrapper > .mud-tooltip-root {
    flex-grow: 1;
}

.default-button {
    height: 42px;
}

.default-button .button-icon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.tx-list {
    max-height: 600px;
    overflow-y: auto;
}

.tx-expansion-line {
    height: 100% !important;
    top: 0 !important;
    left: 0px !important;
    width: 4px !important;
    border-radius: 2px; 
}

.tx-expansion-panel:nth-child(odd) hr {
    background: var(--mud-palette-tertiary);
}

.tx-expansion-panel:nth-child(even) hr {
    background: var(--mud-palette-primary);
}


.hype-logo {
    height: 42px;
    width: 120px;
}

#blazor-error-ui {
    display: none;
    position: fixed;
    z-index: 1000;
    justify-content: center !important;
    align-items: center !important;
    background-color: rgba(0, 0, 0,0.4) !important;
}

.reconnect-display {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,0.4);
}

.components-reconnect-hide {
    display: none;
}

.components-reconnect-show {
    display: flex;
}

.reconnect-message-box {
    height: auto;
    width: auto;
}

.reconnect-message-box a {
    float: right;
}